@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

::root {
  --color: #b3b3b7;
  /** TW custom colors */
  --bg-dw-color-100: #efeff3;
  --bg-dw-color-150: #b3b3b7;
  --bg-dw-color-200: #7e8baa;
  --bg-dw-color-300: #4c5366;
  --bg-dw-color-400: #3e4554;
  --bg-dw-color-500: #1d1f25;
}

#root {
  display: flex;
  place-content: center;
  place-items: center;
  height: 100vh;
  width: 100vw;
}

.monserrat {
  font-family: "Montserrat", sans-serif;
}

.after-content::after {
  content: " ";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--color);
  margin: 1rem 0;
}

span {
  z-index: 1;
}

/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
/*********** Baseline, reset styles ***********/
input[type="range"] {
  @apply appearance-none cursor-pointer w-full;
  appearance: none;
  -webkit-appearance: none;
  background: transparent;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  @apply bg-[#85898a] h-1 rounded-none;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  @apply appearance-none bg-[#3e4554] h-4 w-8 -mt-[5px] rounded-[0.2rem] focus:outline-offset-2;
  -webkit-appearance: none; /* Override default look */ /* Centers thumb on the track */
}
input[type="range"]:focus::-webkit-slider-thumb {
  outline: 1px solid #3e4554;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
  @apply bg-[#85898a] h-1 rounded-none;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  @apply bg-[#7e8baa] h-4 w-8 rounded-md border-[none] focus:outline-offset-2; /*Removes extra border that FF applies*/
}
input[type="range"]:focus::-moz-range-thumb {
  outline: 1px solid #3e4554;
}

.caret {
  --TOOLTIP_SPACING: 17px;
  z-index: -1;
  background: #1d1f25;
  display: inline-block;
  height: 11px;
  margin-left: 15px;
  position: relative;
  width: 46px;
  transform: rotate(-90deg) translate(-13.5px, var(--TOOLTIP_SPACING));
  padding: 0;
  border: none;
}
.caret:before {
  border-bottom: 20px solid #1d1f25;
  border-left: 23px solid transparent;
  border-right: 23px solid transparent;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  top: -19.5px;
  width: 0;
  z-index: -1;
}
