@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

::root {
  --color: #b3b3b7;
  --bg-dw-color-500: #1d1f25;
}

#root {
  display: flex;
  place-content: center;
  place-items: center;
  height: 100vh;
  width: 100vw;
}

.monserrat {
  font-family: "Montserrat", sans-serif;
}

.after-content::after {
  content: " ";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--color);
  margin: 1rem 0;
}

/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
/*********** Baseline, reset styles ***********/
input[type="range"] {
  @apply appearance-none cursor-pointer w-full;
  appearance: none;
  -webkit-appearance: none;
  background: transparent;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  @apply bg-[#85898a] h-1 rounded-none;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  @apply appearance-none bg-[#3e4554] h-4 w-8 -mt-[5px] rounded-[0.2rem] focus:outline-offset-2;
  -webkit-appearance: none; /* Override default look */ /* Centers thumb on the track */
}
input[type="range"]:focus::-webkit-slider-thumb {
  outline: 1px solid #3e4554;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
  @apply bg-[#85898a] h-1 rounded-none;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  @apply bg-[#7e8baa] h-4 w-8 rounded-md border-[none] focus:outline-offset-2; /*Removes extra border that FF applies*/
}
input[type="range"]:focus::-moz-range-thumb {
  outline: 1px solid #3e4554;
}

/* .triangle-left {
  @apply w-0 h-0;
  border-top: 10px solid transparent;
  border-right: 20px solid var(--bg-dw-color-500);
  border-bottom: 10px solid transparent;
} */
