@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

::root {
  --color: #b3b3b7;
  /** TW custom colors */
  --bg-dw-color-100: #efeff3;
  --bg-dw-color-150: #b3b3b7;
  --bg-dw-color-200: #7e8baa;
  --bg-dw-color-300: #4c5366;
  --bg-dw-color-400: #3e4554;
  --bg-dw-color-500: #1d1f25;
}

#root {
  display: flex;
  place-content: center;
  place-items: center;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.monserrat {
  font-family: "Montserrat", sans-serif;
}

.after-content::after {
  content: " ";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--color);
  margin: 1rem 0;
}

span,
p {
  z-index: 1;
  text-wrap: balance;
}

/** */

input[type="color" i]::-webkit-color-swatch-wrapper {
  padding: 0;
  border: none;
  border-radius: 20%;
}

input[type="color" i]::-webkit-color-swatch-wrapper:hover {
  border: 1px solid #1d1f25;
}

input[type="color" i]::-webkit-color-swatch-wrapper:focus {
  border: 1px solid #1d1f25;
}

/** */

input[type="color" i]::-webkit-color-swatch {
  border: none;
  border-radius: 20%;
}
input[type="color" i]::-webkit-color-swatch:hover {
  border: 1px solid #1d1f25;
}
input[type="color" i]::-webkit-color-swatch:focus {
  border: 1px solid #1d1f25;
}

/** */

input[type="color" i] {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  border-radius: 20%;
}

input[type="color" i]:hover {
  border: 1px solid #1d1f25;
}

input[type="color" i]:focus {
  border: 1px solid #1d1f25;
}
